# STRUKTUR DATA

struktur data di python yaitu
1. Dataframe
2. List
3. Tuple
4. Dictionary
5. Set

In [38]:
import pandas as pd

In [39]:
data = pd.read_csv('mtcars.csv')
df1 = data.head(5)

In [40]:
## Dataframe
df1

,Merek,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [41]:
## List
ls1 = df1.values.tolist()
ls1

[['Mazda RX4', 21.0, 6, 160.0, 110, 3.9, 2.62, 16.46, 0, 1, 4, 4],
 ['Mazda RX4 Wag', 21.0, 6, 160.0, 110, 3.9, 2.875, 17.02, 0, 1, 4, 4],
 ['Datsun 710', 22.8, 4, 108.0, 93, 3.85, 2.32, 18.61, 1, 1, 4, 1],
 ['Hornet 4 Drive', 21.4, 6, 258.0, 110, 3.08, 3.215, 19.44, 1, 0, 3, 1],
 ['Hornet Sportabout', 18.7, 8, 360.0, 175, 3.15, 3.44, 17.02, 0, 0, 3, 2]]

In [47]:
ls2=(3,'Madrid',None,'Madrid')
ls2

(3, 'Madrid', None, 'Madrid')

In [43]:
## Tuple
tp = tuple(ls1)
tp

(['Mazda RX4', 21.0, 6, 160.0, 110, 3.9, 2.62, 16.46, 0, 1, 4, 4],
 ['Mazda RX4 Wag', 21.0, 6, 160.0, 110, 3.9, 2.875, 17.02, 0, 1, 4, 4],
 ['Datsun 710', 22.8, 4, 108.0, 93, 3.85, 2.32, 18.61, 1, 1, 4, 1],
 ['Hornet 4 Drive', 21.4, 6, 258.0, 110, 3.08, 3.215, 19.44, 1, 0, 3, 1],
 ['Hornet Sportabout', 18.7, 8, 360.0, 175, 3.15, 3.44, 17.02, 0, 0, 3, 2])

In [44]:
## Dictionary
dt1 = {
    'Merek' : df2['Merek'],
    'mpg' : df2['mpg'],
    'cyl' : df2['cyl'],
    'disp' : df2['disp'],
    'hp' : df2['hp']
}

In [45]:
dt2 = {
    'k1' : 'Barcelona',
    'k2' : 'Liverpool',
    'k3' : 'Madrid',
    'k4' : 'London',
    'k5' : 'Munchen'
}

In [46]:
dt2

{'k1': 'Barcelona',
 'k2': 'Liverpool',
 'k3': 'Madrid',
 'k4': 'London',
 'k5': 'Munchen'}

In [48]:
## Set
s1 = set(ls2)
s1

{3, 'Madrid', None}

In [ ]:
## Array

In [62]:
from numpy import array

In [66]:
ar = array([3, 6, 9, 12])

In [70]:
ar/3
print(ar)

[ 3  6  9 12]